* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
  margin: 0px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.clearfix {
  *zoom: 1;
}

a {
	text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}
/*

HTML5 CSS Reset
Based on Eric Meyer's CSS Reset
and html5doctor.com HTML5 Reset

Copyright (c) 2011 736 Computing Services Limited
Released under the MIT license. http://opensource.736cs.com/licenses/mit

*/

article, aside, dialog, figure, footer, header, 
hgroup, nav, section, blockquote { 
	display: block;
}

nav ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

mark {
	background: none;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	margin: 0px;
}

input[type="submit"], input[type="button"], button {
    padding: 0 !important;
    margin: 0 !important;
}

input, select, a img {
	vertical-align: middle;
}

@media (min-width: 0px) {
  
	.collapse {
		display: block;
	}
	
	.collapsable {
		display: none;
	}

	.collapse1 {
		display: block;
	}	  
	
	.collapsable1 {
		display: none;
	}

	.collapse2 {
		display: block;
	}	  
	
	.collapsable2 {
		display: none;
	}


}

@media (min-width: 480px) {

	.collapse {
		display: block;
	}
	
	.collapsable {
		display: none;
	}

	.collapse1 {
		display: block;
	}	  
	
	.collapsable1 {
		display: none;
	}

	.collapse2 {
		display: none;
	}	  
	
	.collapsable2 {
		display: block;
	}

}

@media (min-width: 980px) {
	
	.collapse {
		display: none;
	}	  
	
	.collapsable {
		display: block;
	}

	.collapse1 {
		display: none;
	}  
	
	.collapsable1 {
		display: block;
	}
	
	.collapse2 {
		display: none;
	}	  
	
	.collapsable2 {
		display: none;
	}
	
}

@media (min-width: 0px) and (max-width: 479px) {
	
  .wrapper {
    background-color: #C9D8ED !important;
  }
	
	.responsive {
		display: none;
	}
	
	.control {
		display: block;
	}
	
}

@media (min-width: 480px) and (max-width: 979px) {
	
	.responsive {
		display: block;
	}
	
	.control {
		display: none;
	}
	
}

@media (min-width: 980px) {
	
  .wrapper {
    background-color: #72CAE7 !important;
  }
	
	.responsive {
		display: none;
	}
	
	.control {
		display: block;
	}
	
}

.display {
	display: block;
}

.hide {
	display: none !important;
}

.button {

	position: relative;
	display: inline-block;
	padding: 7px 15px;
	font-size: 13px;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	white-space: nowrap;
	background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border: 1px solid #ddd;
	border-bottom-color: #c5c5c5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;

	white-space: normal;

}

.button:hover {

	text-decoration: none;
	background-color: #dadada;
	background-image: -moz-linear-gradient(#eaeaea, #dadada);
	background-image: -webkit-linear-gradient(#eaeaea, #dadada);
	background-image: linear-gradient(#eaeaea, #dadada);
	background-repeat: repeat-x;
	border-color: #ccc #ccc;

}

.wrapper {
	background-color: #9CF;
}

// 0-479, 480-979, 980+ 

.control {
	display: none;
}

div {
padding: 10px;
}